<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            {{msg}}
        </div>
        <span>MovieName</span>
        <span>Movie Timing</span>
        <span>Ticket Price</span>
        <span>No of available ticket</span><br>
        {% for ticket in tickets %}
        {%if ticket.no_of_ticket%}
        <div>
            <form action="http://127.0.0.1:8000/purchaseticket/{{ticket.id}}">
                               
                <span>{{ticket.ticket_of_movie.movie_name}}</span>
                <span>{{ticket.timing}}</span>
                <span>{{ticket.price}}</span>
                <span>{{ticket.no_of_ticket}}</span>
                <!-- <input type="submit" placeholder="purchaseticket"> -->
                <button>purchaseticket</button>
            </form>
            <br>
            
        </div>
        {% endif %}
        <br>
{% endfor %}
    </div>
    
</body>
</html>